@import "../../../../../shared/variables";

.job-search {
	.container {
		display: flex;
		flex-wrap: wrap;

		& > * {
			margin-bottom: 0.8em;
		}

		& > input,
		& > select {
			height: 45px;
			border: 2px solid #fff;
			color: $font-color1;
			border-radius: 10px;
			font-size: 20px;
			padding: 0 0.5em;
			background-color: unset;
		}

		& > input {
			width: 100%;
			max-width: 800px;
			margin-right: 10px;
		}

		& > select {
			margin-right: 10px;
			width: fit-content;
			padding: 0 15px;
			position: relative;
			cursor: pointer;

			&:after {
				content: "";
				display: block;
				width: 20px;
				height: 20px;
				background-color: red;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	.filters {
		display: flex;
		align-items: flex-end;
		overflow-x: scroll;
		padding: 0 10px;

		&::-webkit-scrollbar {
			display: none;
		}

		select {
			margin: 0 5px;
			background-color: #d1d1d1;
			font-size: 18px;
			padding: 10px 15px;
			border-radius: 10px;
		}

		.reset {
			height: 44px;
			border-radius: 10px;
			padding: 0 1em;
			font-size: 18px;
		}
	}
}

@media (min-width: 768px) {
	.job-search {
		.filters {
			flex-wrap: wrap;
			select {
				margin-top: 10px;
			}
		}
	}
}
