<section class="job-search">
	<div class="container">
		<input type="text" placeholder="job title" />
		<select name="" id="">
			<option value="">Location</option>
			<option value="">Poland</option>
			<option value="">Germany</option>
			<option value="">France</option>
			<option value="">United States</option>
		</select>
		<button>Find jobs</button>
	</div>
	<div class="filters">
		<select name="" id="">
			<option selected="true" value="" disabled>Technologies</option>
			<option value="">All</option>
			<option value="">HTML</option>
			<option value="">JavaScript</option>
		</select>
		<select name="" id="">
			<option selected="true" value="" disabled>Salary</option>
			<option value="">All</option>
		</select>
		<select name="" id="">
			<option selected="true" value="" disabled>Experience Level</option>
			<option value="">All</option>
		</select>
		<select name="" id="">
			<option selected="true" value="" disabled>Location</option>
			<option value="">All</option>
			<option *ngFor="let location of jobLocations" value="">
				{{ location }}
			</option>
		</select>
		<select name="" id="">
			<option selected="true" value="" disabled>Remote</option>
			<option value="">All</option>
			<option value="">Yes</option>
			<option value="">No</option>
			<option value="">Partly-remote</option>
		</select>
	</div>
</section>
